/* hero-carousel.css */

/* Position the pagination below the carousel */
.splide__pagination {
  bottom: -1px; 
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* Default bullets */
.splide__pagination__page {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #5d11a0; 
  transition: all 0.3s ease;
}

/* Active bullet */
.splide__pagination__page.is-active {
  border: 2px solid #5d11a0; /* purple ring */
  padding: 2px; /* spacing between ring and bullet */
  background-color: white;
}

/* .status-bar {
-webkit-box-shadow: 0px -14px 38px -9px rgba(66, 68, 90, 0.59);
-moz-box-shadow: 0px -14px 38px -9px rgba(66, 68, 90, 0.59);
box-shadow: 0px -14px 38px -9px rgba(66, 68, 90, 0.59);
} */

.status-bar {
box-shadow:
  0px -8px 24px 2px rgba(105, 105, 105, 0.14);
}

.input-bar {
box-shadow:
  0px 16px 24px 2px rgba(105, 105, 105, 0.14);
}