.phone-input {
    border: none !important;
}

.react-international-phone-input-container .react-international-phone-input {
    background-color: transparent !important;
    overflow: visible;
    height: var(--react-international-phone-height, 36px);
    box-sizing: border-box;
    padding: 0 8px;
    border: none !important;
    font-size: 16px !important;
}

.react-international-phone-input-container {
  background: transparent;
}

/* COUNTRY DROPDOWN */
.react-international-phone-country-selector-dropdown {
  background-color: #FFF !important; 
  border: none !important;
  outline: none !important;
  z-index: 50; 
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
    background-color: transparent !important;
}