@import "tailwindcss";

body {
  background: white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lora);
}

p, span, a, li {
  font-family: var(--font-roboto);
}
.roboto {
  font-family: var(--font-roboto);
}
.lora {
  font-family: var(--font-lora);
}

.signature {
  font-family: var(--font-babylonica), cursive;
}

/* SLICK CAROUSE */
.slick-prev:before, .slick-next:before {
  font-size: 40px !important;
  font-weight: 100 !important;
}

/* * {
  outline: red solid 1px
} */