@import "tailwindcss";

body {
  background: white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lora);
}

p, span, a, li {
  font-family: var(--font-roboto);
}
.roboto {
  font-family: var(--font-roboto);
}
.lora {
  font-family: var(--font-lora);
}


/* * {
  outline: red solid 1px
} */